<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app</key>
	<string>AppDelegate</string>
	<key>method</key>
	<string>1</string>
	<key>mui</key>
	<string>4</string>
	<key>viewa</key>
	<string>1</string>
	<key>bui</key>
	<string>1</string>
	<key>nextButtonName</key>
	<string>startgame-2</string>
	<key>nextButtonWidth</key>
	<string>400</string>
	<key>nextButtonHeight</key>
	<integer>350</integer>
	<key>pages</key>
	<array>
		<dict>
			<key>bgimageName</key>
			<string>1242-1.jpg</string>
			<key>topimageName</key>
			<string>top_one.jpg</string>
			<key>bottomImageName</key>
			<string>bottom_one.jpg</string>
			<key>topMargin</key>
			<string>40</string>
			<key>bottomMargin</key>
			<string>40</string>
			<key>imageWidth</key>
			<string>50</string>
		</dict>
		<dict>
			<key>bgimageName</key>
			<string>1242-2.jpg</string>
			<key>topimageName</key>
			<string>top_two.jpg</string>
			<key>bottomImageName</key>
			<string>bottom_two.jpg</string>
			<key>topMargin</key>
			<string>40</string>
			<key>bottomMargin</key>
			<string>40</string>
			<key>imageWidth</key>
			<string>50</string>
		</dict>
		<dict>
			<key>bgimageName</key>
			<string>1242-3.jpg</string>
			<key>topimageName</key>
			<string>top_one.jpg</string>
			<key>bottomImageName</key>
			<string>bottom_one.jpg</string>
			<key>topMargin</key>
			<string>40</string>
			<key>bottomMargin</key>
			<string>40</string>
			<key>imageWidth</key>
			<string>50</string>
		</dict>
		<dict>
			<key>bgimageName</key>
			<string>1242-4.jpg</string>
			<key>topimageName</key>
			<string>top_two.jpg</string>
			<key>bottomImageName</key>
			<string>bottom_two.jpg</string>
			<key>topMargin</key>
			<string>40</string>
			<key>bottomMargin</key>
			<string>40</string>
			<key>imageWidth</key>
			<string>50</string>
		</dict>
	</array>
</dict>
</plist>
